/.vs
/Build
/VulkanDrv/*.user
/libs
/HRTFAudio/*.user
/HRTFAudio/*.aps
/ShaderCompiler/*.user
/Thirdparty/UnrealTournamentSDK
/D3D11Drv/*.user
/MeshProcessing/Debug
/MeshProcessing/Release
/MeshProcessing/*.user
